{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock title %}
{% block content %}

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static './images/bg_2.jpg' %});"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">About Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'blog:home' %}">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section services-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-yatch"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Activities</h3>
            <p> 203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-around"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Travel Arrangements</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-compass"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Private Guide</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-map-of-roads"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Location Manager</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-counter img" id="section-counter">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <div class="img d-flex align-self-stretch" style="background-image:url({% static './images/about.jpg' %});"></div>
      </div>
      <div class="col-md-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h2 class="mb-4">About Traveland</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5 bg-light mb-4">
              <div class="text">
                <strong class="number" data-number="30">0</strong>
                <span>Amazing Deals</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5 bg-light mb-4">
              <div class="text">
                <strong class="number" data-number="200">0</strong>
                <span>Sold Tours</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5 bg-light mb-4">
              <div class="text">
                <strong class="number" data-number="2500">0</strong>
                <span>New Tours</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center py-5 bg-light mb-4">
              <div class="text">
                <strong class="number" data-number="40">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb testimony-section" style="background-image: url({% static './images/bg_1.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-4">Happy Traveler Says</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col-md-12 testimonial">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap img" style="background-image: url({% static './images/traveler-1.jpg' %});">
							<div class="overlay"></div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
									there live the blind texts.</p>
								<p class="name">Roger Scott</p>
								<span class="position">Marketing Manager</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap" style="background-image: url({% static './images/traveler-2.jpg' %});">
							<div class="overlay"></div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
									there live the blind texts.</p>
								<p class="name">Roger Scott</p>
								<span class="position">Interface Designer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap" style="background-image: url({% static './images/traveler-3.jpg' %});">
							<div class="overlay"></div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
									there live the blind texts.</p>
								<p class="name">Roger Scott</p>
								<span class="position">UI Designer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap" style="background-image: url({% static './images/traveler-4.jpg' %});">
							<div class="overlay"></div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
									there live the blind texts.</p>
								<p class="name">Roger Scott</p>
								<span class="position">Web Developer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap" style="background-image: url({% static './images/traveler-5.jpg' %});">
							<div class="overlay"></div>
							<div class="text">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
									there live the blind texts.</p>
								<p class="name">Roger Scott</p>
								<span class="position">System Analyst</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-counter img" id="section-counter">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 order-md-last d-flex">
        <div class="img d-flex align-self-stretch" style="background-image:url({% static './images/about-1.jpg' %});"></div>
      </div>
      <div class="col-md-6 pr-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h2 class="mb-4">Things to Know Before Traveling to other Places</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="ftco-animate tips"><span>1.</span> A small river named Duden flows by their place and supplies
              it with the necessary regelialia.</p>
            <p class="ftco-animate tips"><span>2.</span> A small river named Duden flows by their place and supplies
              it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly
              into your mouth.</p>
            <p class="ftco-animate tips"><span>3.</span> It is a paradisematic country, in which roasted parts of
              sentences fly into your mouth.</p>
            <p class="ftco-animate mt-4"><a href="#" class="btn btn-primary py-3 px-5">Read more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-subscribe" style="background-image: url({% static './images/bg_1.jpg' %});">
  <div class="overlay">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 text-wrap text-center heading-section ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-10">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}