{% extends "base.html" %}
{% load static %}
{% block title %}
Blog
{% endblock title %}
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static './images/bg_2.jpg' %});"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Our Stories</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'blog:home' %}">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      {% for blog in blogs %}
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry justify-content-end">
          <a href="{{ blog.get_absolute_url }}" class="block-20" style="background-image: url('{{ blog.image.url }}');">
          </a>
          <div class="text mt-3 float-right d-block">
            <div class="d-flex align-items-center pt-2 mb-4 topp">
              <div class="one">
                <span class="day">{{blog.data_time|date:'d'}}</span>
              </div>
              <div class="two">
                <span class="yr">{{blog.data_time|date:'Y'}}</span>
                <span class="mos">
                  {{blog.data_time|date:'M'}}
                </span>
              </div>
            </div>
            <h3 class="heading"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h3>
            <p>{{ blog.text|slice:'50' }}...</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-subscribe" style="background-image: url({% static './images/bg_1.jpg' %});">
  <div class="overlay">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 text-wrap text-center heading-section ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-10">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}