{% extends 'base.html' %}
{% load static %}
{% block title %}
Blog | {{ blog.title }}
{% endblock title %}
{% block content %}
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static './images/bg_2.jpg' %});"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread">Our Stories</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'blog:home' %}">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="{% url 'blog:blog' %}">Blog <i
                class="ion-ios-arrow-forward"></i></a></span> <span>{{ blog.title }} <i
              class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-md-last ftco-animate">
        <h2 class="mb-3">{{ blog.title }}</h2>
        <p>
          <img src="{{ blog.image.url }}" alt="" class="img-fluid">
        </p>
        <p>{{ blog.text }}</p>
        <p>
          <img src="images/image_4.jpg" alt="" class="img-fluid">
        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            {% for tag in blog.tags.all %}
            <a href="#" class="tag-cloud-link">{{ tag }}</a>
            {% endfor %}
          </div>
        </div>

        <div class="about-author d-flex p-4 bg-light">
          <div class="bio mr-5">
            <img src="{% static './images/person_1.jpg' %}" alt="Image placeholder" class="img-fluid mb-4">
          </div>
          <div class="desc">
            <h3>George Washington</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
              voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique,
              inventore eos fugit cupiditate numquam!</p>
          </div>
        </div>
        <div class="pt-5 mt-5">
          <h3 class="mb-5">{{ comments|length }} Comments</h3>
          <ul class="comment-list">
            {% for comment in comments %}
            <li class="comment">
              <h3>{{ comment.name }}</h3>
              <div class="meta">{{ comment.created_at }}</div>
              <p>{{ comment.message }}</p>
            </li>
            {% endfor %}
            <div class="comment-form-wrap pt-5">
              <h3 class="mb-5">Leave a comment</h3>
              <form action="#" class="p-5 bg-light" method='POST'>
                <div class="form-group">
                  <label for="name">Name *</label>
                  {% csrf_token %}
                  <input type="text" required class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                  <label for="email">Email *</label>
                  {% csrf_token %}
                  <input type="email" required class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                  <label for="message">Message</label>
                  {% csrf_token %}
                  <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>

              </form>
            </div>
          </ul>
        </div>

      </div> <!-- .col-md-8 -->
      <div class="col-lg-4 sidebar ftco-animate">
        <div class="sidebar-box">
          <form action="#" class="search-form">
            <div class="form-group">
              <span class="icon icon-search"></span>
              <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
            </div>
          </form>
        </div>
        <div class="sidebar-box ftco-animate">
          <div class="categories">
            <h3>Categories</h3>
            {% for category in categories %}
            <li><a href="#">{{category}}</a></li>
            {% endfor %}
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Recent Blog</h3>
          {% for b in blogs %}
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" href="{{ b.get_absolute_url }}" style="background-image: url({{b.image.url}});"></a>
            <div class="text">
              <h3 class="heading"><a href="{{ b.get_absolute_url }}">{{ b.title }}</a>
              </h3>
              <div class="meta">
                <div><a href="#"><span class="icon-calendar"></span>
                    {% if b.get_month == 1 %}January
                    {% elif b.get_month == 2 %}February
                    {% elif b.get_month == 3 %}March
                    {% elif b.get_month == 4 %}April
                    {% elif b.get_month == 5 %}May
                    {% elif b.get_month == 6 %}June
                    {% elif b.get_month == 7 %}July
                    {% elif b.get_month == 8 %}August
                    {% elif b.get_month == 9 %}September
                    {% elif b.get_month == 10 %}October
                    {% elif b.get_month == 11 %}November
                    {% elif b.get_month == 12 %}December{% endif %}
                    {{blog.get_day}}, {{b.get_year}}</a></div>
                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                <div><a href="{{ b.get_absolute_url }}"><span class="icon-chat"></span> {{ b.comments|length }}</a></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            {% for tag in tags %}
              <a href="#" class="tag-cloud-link">{{tag}}</a>
            {% endfor %}
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Paragraph</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate
            quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos
            fugit cupiditate numquam!</p>
        </div>
      </div>

    </div>
  </div>
</section> <!-- .section -->

<section class="ftco-subscribe" style="background-image: url({% static './images/bg_1.jpg' %});">
  <div class="overlay">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 text-wrap text-center heading-section ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <div class="row d-flex justify-content-center mt-4 mb-4">
            <div class="col-md-10">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}