{% extends 'base.html' %}
{% load static %}
{% block title %}Furniture{% endblock title %}
  {% block content %}
  <main>
    <!-- Section Hero Starts -->
    <div class="section_hero_furnuture" style="background-image: url('{% static './images/section_furniture_bg.png' %}');">
      <div class="section-wrapp">
        <div class="container">
          <p>Воплотим вашу любую задумку в реальность</p>
          <h1>Столярная мастерская <br> NIKASON BRAND</h1>
          <form action="#">
            <button class="section_hero_furniture_btn" type="submit">Заказать мебель</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Section Hero Ends -->

    <!-- Section Choose Starts -->
    <div class="section_choose">
      <div class="section-wrapp">
        <div class="container">
          <h1>Почему выбирают нас</h1>
          <ul class="section_choose_list">
            <li class="section_choose_item">
              <p class="section_choose_text_upper">Давно на рынке</p>
              <p class="section_choose_text_lower">Опыт работы на рынке больше 10 лет</p>
            </li>
            <li class="section_choose_item">
              <p class="section_choose_text_upper">Гарантия качества</p>
              <p class="section_choose_text_lower">Предоставляем гарантию 12 месяцев на изделия </p>
            </li>
            <li class="section_choose_item">
              <p class="section_choose_text_upper">Юридическая прозрачность</p>
              <p class="section_choose_text_lower">Заключаем с каждым клиентом договор</p>
            </li>
            <li class="section_choose_item">
              <p class="section_choose_text_upper">Экологичность</p>
              <p class="section_choose_text_lower">Мебель из натуральной древесины, краски без токсичного состава</p>
            </li>
            <li class="section_choose_item">
              <p class="section_choose_text_upper">Эксклюзивность</p>
              <p class="section_choose_text_lower">Каждая мебель изготовлена по индивидуальному дизайну </p>
            </li>
            <li class="section_choose_item">
              <p class="section_choose_text_upper">Долговечность</p>
              <p class="section_choose_text_lower">Мебель из массива дерева прослужит даже вашим детям</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Section Choose Ends -->

    <!-- Section Portfolio Starts -->
    <div class="section_portfolio">
      <div class="section-wrapp">
        <div class="container">
          <h1>Портфолио</h1>
          <img class="image_placeholder" src="{% static './images/section_portfolio_img_one.png' %}" alt="">
          <div class="swiper_outer">
            <div class="swiper_wrapper">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="{% static './images/section_portfolio_img_two.png' %}" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static './images/section_portfolio_img_three.png' %}" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static './images/section_portfolio_img_four.png' %}" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static './images/section_portfolio_img_five.png' %}" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static './images/section_portfolio_img_six.png' %}" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static './images/section_portfolio_img_seven.png' %}" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="{% static './images/section_portfolio_img_eight.png' %}" alt="">
                  </div>
                </div>
                <div class="swiper-button-prev">
                  <img src="{% static './images/section_portfolio_swiper_prev.png' %}" alt="">
                </div>
                <div class="swiper-button-next">
                  <img src="{% static './images/section_portfolio_swiper_next.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section Portfolio Ends -->

    <!-- Section Step Starts -->
    <div class="section_step">
      <div class="section-wrapp">
        <div class="container">
          <h1>Этапы производства</h1>
          <ul class="section_step_list">
            <li class="section_step_item">
              <h1>1</h1>
              <p>Встреча с клиентом</p>
            </li>
            <li class="section_step_item">
              <h1>2</h1>
              <p>Подписание договора, внесение предоплаты</p>
            </li>
            <li class="section_step_item">
              <h1>3</h1>
              <p>Выезд к клиенту на замер (при необходимости)</p>
            </li>
            <li class="section_step_item">
              <h1>4</h1>
              <p>Составление проекта</p>
            </li>
            <li class="section_step_item">
              <h1>5</h1>
              <p>Изготовление и согласование всех стадий с клиентом</p>
            </li>
            <li class="section_step_item">
              <h1>6</h1>
              <p>Доставка и монтаж изделия (при необходимости)</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Section Step Ends -->

    <!-- Section Clients Starts -->
    <div class="section_clients">
      <div class="section-wrapp">
        <div class="container">
          <h1>Клиенты о нас</h1>
          <ul class="section_clients_list">
            {% for object in objects %}
            <li class="section_clients_item"><img src="{{ object.image.url }}" alt=""></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- Section Clients Ends -->

    <!-- Section Form Starts -->
    <div class="section_form">
      <div class="section-wrapp">
        <div class="container">
          <h1>Оставьте заявку и мы с вами свяжемся</h1>
          <div class="form_wrapper">
            <form class="my_form" enctype="multipart/form-data" method="POST">
              <label for="input_image">Image</label>
              <input required type="file" id="input_image" name="image">
              <label for="name">Your Name</label>
              <input type="text" required id="name" name="name">
              <label for="number">Your Number</label>
              <input type="number" required id="number" name="number">
              <button class="form_btn" type="submit">Отправить</button>
              {% csrf_token %}
            </form>
          </div>
          <div class="message_for_user" style="display:none;">
            Отправлено
          </div>
          <center>
            <button class="opener_btn">Оставить заявку</button>
          </center>
        </div>
      </div>
    </div>
    <!-- Section Form Ends -->
  </main>
  {% endblock content %}